# Node.js backend
/node_modules
.env
npm-debug.log
yarn-error.log

# Vite frontend
/dist
/node_modules
/.env
/.vite

# IDE specific files
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Logs
*.log

# Other potentially unwanted files
*.env.local
